*~
*.o
*.Po
*.Plo
*.lo
*.so*
*.la*
*.a
*.libs*
*.swp
*.db
*.schema
*.dat*
*.out

.cproject
.project

lt~obsolete.m4
ltsugar.m4
libtool.m4
ltoptions.m4
ltversion.m4

Makefile
Makefile.in

configure
config.*
configure.scan
autoscan.log

autom4te*
missing
stamp-h1
libtool
ltmain.sh
install-sh
aclocal.m4
depcomp

examples/*/*/ReadMe
examples/sky2k
examples/ngc

lntest/libnovaconfig
lntest/lntest

doxyfile
doc/man/*
doc/html/*
