*~
*.o
*.Po
*.Plo
*.lo
*.so*
*.la*
*.a
*.libs*
*.swp
*.db
*.schema
*.dat*
*.out

.cproject
.project

lt~obsolete.m4
ltsugar.m4
libtool.m4
ltoptions.m4
ltversion.m4

Makefile
Makefile.in

configure
config.*
!config.h.in
configure.scan
autoscan.log

autom4te*
missing
stamp-h1
libtool
ltmain.sh
install-sh
aclocal.m4
depcomp

examples/*/*/ReadMe
examples/sky2k
examples/ngc

lntest/libnovaconfig
lntest/lntest

doc/man/*
doc/html/*

# Doxygen output
html/
latex/
doxygen.log

# CMake
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# Developer tools / IDEs
.settings/
.autotools
.vscode/
.idea/

# Old autotools / make leftovers
.version
libastrodb.pc

# Executables
examples/gsc
examples/hyperleda
examples/tycho
examples/ngc
examples/sky2k

# Packages
*.deb
*.rpm
*.tar.gz
*.tar.bz2
*.tar.Z
*.zip
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake

# Do not ignore specific test files
!tests/VII/118/
!tests/VII/118/*.db
!tests/VII/118/*.schema
!tests/V/109/
!tests/V/109/*.schema
!tests/V/109/*.db
